---
import { Icon } from "astro-icon/components";

export interface Props {
  items?: Array<{
    text: string;
    iconName: string;
  }>;
  title?: string;
  text?: string;
  aria: string;
}

const { items = [], title, text, aria } = Astro.props;
---

<section aria-label={aria} class="project-box">
  {title && <h3>{title}</h3>}
  {text && <p>{text}</p>}

  <div class="tech-grid">
    {
      items?.map((item) => (
        <div class="item">
          <div class="icon-wrapper">
            <Icon name={item.iconName} />
          </div>
          <span>{item.text}</span>
        </div>
      ))
    }
  </div>
</section>

<style>
  [data-icon] {
    font-size: 2rem;
  }
</style>
